/*------------------------------------*\
  CSS Reset
\*------------------------------------*/

* {
  margin: 0;
  padding: 0;
  font-style: inherit;
  cursor: default;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }


/*------------------------------------*\
  Font Face
\*------------------------------------*/

	@font-face {
	    font-family: 'icomoon';
	    src: url('social/fonts/icomoon.eot');
	    src: url('social/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	         url('social/fonts/icomoon.woff') format('woff'),
	         url('social/fonts/icomoon.ttf') format('truetype'),
	         url('social/fonts/icomoon.svg#entypo') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

/*------------------------------------*\
 	Highlight Seclections 
\*------------------------------------*/

	::selection {
		background: #666566;
		color: #fff;
		text-shadow: none; /* Safari */
	}

	::-moz-selection {
		background: #666566;
		color: #fff;
		text-shadow: none; /* Firefox */
	}


/*------------------------------------*\
  Document default
\*------------------------------------*/

body, html {
  width: 100%;
  height: 100%;
  font: 400 16px/26px 'Source Sans Pro', sans-serif;;
  color: #fff; /* Font Color Color Here */
  background: #f97e6e; 
}

body {
	background-color: #f97e6e; /* Change Background Color Here */
}

a, a:visited {
  color: #0088cc;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

a.highlight:hover {
	border-bottom: 3px solid rgba(255,255,255,0.2);
}

a:hover, a:visited:hover {
    color: #006699; }

img.avatar {
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*------------------------------------*\
  Site box
\*------------------------------------*/

#contain #content {
  width: 420px;
  padding: 20px;
}

#contain #content * {
  text-align: center; }

/*------------------------------------*\
  Centralised box
\*------------------------------------*/

#wrap {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  z-index: 5; }

#wrap #contain {
  text-align: center;
  vertical-align: middle;
  display: table-cell; }

#wrap #contain #content {
  display: inline-block; }

/*------------------------------------*\
  Header
\*------------------------------------*/

#header {
  margin: 0 0 24px;
  position: relative; 
}


/*------------------------------------*\
  Skills
\*------------------------------------*/

#intro {
  font-size: 22px;
  color: #fff;
line-height: 30px;
	text-align: center;
	margin-bottom: 24px;
  display: block; 
}

#intro a {
  color: #fff;
 }

/*------------------------------------*\
  Networks
\*------------------------------------*/

#networks {
	padding-top: 24px;
}

#networks a {
  color: white;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px; 
	font-size: 30px;
	opacity: 0.3;
	font-family: 'icomoon';
}

#networks a:first-child {
	margin-left: 0px;
}

#networks a:hover {
    color: #fff; 
		opacity: .9;
}

/*------------------------------------*\
  Footer
\*------------------------------------*/

#footer {
  font-size: 14px;
  color: #4783e6;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 40px 0 0;
}

#footer footer a {
  color: #fff;
}

#footer footer a:hover {
  color: #fff;
}

/*------------------------------------*\
  Clearfix
\*------------------------------------*/

.clear, #header, #footer {
  zoom: 1; }

.clear:before, #header:before, #footer:before, .clear:after, #header:after, #footer:after {
    content: '';
    display: block; }

.clear:after, #header:after, #footer:after {
    clear: both; }